        <footer id = "bigfooter">
            <div style = "padding:15px;">
                <p>
                    <a href="{{"/categoria/"|relLangURL }}">Categorias</a> |
                    <a href="{{"/provincias/"|relLangURL }}">Provincias</a> |
                    <a href="{{"/localidades/"|relLangURL }}">Localidades</a> |
                    <a href="{{"/fabricantes/"|relLangURL }}">Fabricantes</a> |
                    <a href="{{"/dispositivos/"|relLangURL }}">Dispositivos</a> |
                    <a href="{{"/lenguajes/"|relLangURL }}">Lenguajes</a> |
                    <a href="{{"/herramientas/"|relLangURL }}">Herramientas</a> |
                    <a href="{{"/opensource/"|relLangURL }}">Open-source</a>
                </p>
                <p>
                    Distribuido bajo licencia
                    <i class="fab fa-creative-commons" aria-hidden="true"></i>
                    <i class="fab fa-creative-commons-by" aria-hidden="true"></i>
                    <a rel="licencia" href="https://creativecommons.org/licenses/by/4.0/"
                      title="Creative Commons Attribution 4.0 International license">
                      Creative Commons Attribution 4.0 International
                    </a>
                    -
                    {{ "Sitio realizado con [Hugo](https://gohugo.io) y el tema [min_night](https://github.com/nathancday/min_night)." | markdownify }}
                </p>
            </div>
        </footer>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());
          gtag('config', '{{ .Site.GoogleAnalytics }}');
        </script>
       
    </body>

</html>
