<div class="item">

<h1>{{ .Params.denominacion }}</h1>

<table>
  {{ with .Params.categoria }}
  <tr>
    <td>Categoria:</td>
    <td><a href="{{"/categoria/"|relLangURL }}{{.|urlize}}">{{ . }}</a></td>
  </tr>
  {{ end }}
  {{ with .Params.provincias }}
  <tr>
    <td>Provincia/s:</td>
    <td>
      <a href="{{"/provincias/"|relLangURL }}{{index . 0|urlize}}">{{ index . 0}}</a>
      {{ with index . 1 }}
      - <a href="{{"/provincias/"|relLangURL }}{{.|urlize}}">{{ . }}</a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.localidades }}
  <tr>
    <td>Localidad/es:</td>
    <td>
      <a href="{{"/localidades/"|relLangURL }}{{index . 0|urlize}}">{{ index . 0}}</a>
      {{ with index . 1 }}
      - <a href="{{"/localidades/"|relLangURL }}{{.|urlize}}">{{ . }}</a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.fabricantes }}
  <tr>
    <td>Fabricantes:</td>
    <td>
      {{ range . }}
        <a href="{{"/fabricantes/"|relLangURL }}{{.|urlize}}">
          <kbd class="fabricantes"> {{ . }} </kbd>
        </a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.dispositivos }}
  <tr>
    <td>Dispositivos:</td>
    <td>
      {{ range . }}
        <a href="{{"/dispositivos/"|relLangURL }}{{.|urlize}}">
          <kbd class="dispositivos"> {{ . }} </kbd>
        </a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.lenguajes }}
  <tr>
    <td>Lenguajes:</td>
    <td>
      {{ range . }}
        <a href="{{"/lenguajes/"|relLangURL }}{{.|urlize}}">
          <kbd class="lenguajes"> {{ . }} </kbd>
        </a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.herramientas }}
  <tr>
    <td>Herramientas:</td>
    <td>
      {{ range . }}
        <a href="{{"/herramientas/"|relLangURL }}{{.|urlize}}">
          <kbd class="herramientas"> {{ . }} </kbd>
        </a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.opensource }}
  <tr>
    <td>Open-source:</td>
    <td>
      {{ range . }}
        <a href="{{"/opensource/"|relLangURL }}{{.|urlize}}">
          <kbd class="opensource"> {{ . }} </kbd>
        </a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Params.actualizado }}
  <tr>
    <td>Última actualización</td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
</table>

{{ with .Params.sitio }}<a href="{{ . }}"><i class="fa fa-globe"> Sitio Web</i></a>{{ end }}
</div>
