<div class="item">

{{ $.Scratch.Set "link" .RelPermalink }}

<h2>
  <a href="{{ .Scratch.Get "link" }}">{{ .Params.denominacion }}</a>
  {{ with .Params.sitio }}
    <a href="{{ . }}"><i class="fa fa-globe"></i></a>
  {{ end }}
</h2>

<h4>
{{ with .Params.categoria }}
  <a href="{{"/categoria/"|relLangURL }}{{.|urlize}}">
  {{ . }}
  </a>
{{ end }}
{{ if .Params.asic }}
  <img class="asic" src="{{ .Site.BaseURL }}img/asic.png" alt="Desarrollo de ASICs">
{{ end }}
</h4>

<h5>
{{ with .Params.provincias }}
  <a href="{{"/provincias/"|relLangURL }}{{index . 0|urlize}}">{{ index . 0 }}</a>
  {{ with index . 1 }}
  , <a href="{{"/provincias/"|relLangURL }}{{.|urlize}}">{{ . }}</a>
  {{ end }}
{{ end }}
-
{{ with .Params.localidades }}
  <a href="{{"/localidades/"|relLangURL }}{{index . 0|urlize}}">{{ index . 0 }}</a>
  {{ with index . 1 }}
  , <a href="{{"/localidades/"|relLangURL }}{{.|urlize}}">{{ . }}</a>
  {{ end }}
{{ end }}
</h5>

{{ range .Params.fabricantes }}
  <a href="{{"/fabricantes/"|relLangURL }}{{.|urlize}}">
    <kbd class="fabricantes"> {{ . }} </kbd>
  </a>
{{ end }}

{{ range .Params.dispositivos }}
  <a href="{{"/dispositivos/"|relLangURL }}{{.|urlize}}">
    <kbd class="dispositivos"> {{ . }} </kbd>
  </a>
{{ end }}

{{ range .Params.lenguajes }}
  <a href="{{"/lenguajes/"|relLangURL }}{{.|urlize}}">
    <kbd class="lenguajes"> {{ . }} </kbd>
  </a>
{{ end }}

{{ range .Params.herramientas }}
  <a href="{{"/herramientas/"|relLangURL }}{{.|urlize}}">
    <kbd class="herramientas"> {{ . }} </kbd>
  </a>
{{ end }}

{{ range .Params.opensource }}
  <a href="{{"/opensource/"|relLangURL }}{{.|urlize}}">
    <kbd class="opensource"> {{ . }} </kbd>
  </a>
{{ end }}

</div>
