main a:hover {
    text-decoration: none;
    filter: brightness(135%);
}

.item {
    text-align: left;
    text-transform: capitalize;
}

.fabricantes {
    background-color: #4682B4;
    white-space: pre;
}

.dispositivos {
    background-color: #5F9EA0;
    white-space: pre;
}

.lenguajes {
    background-color: #C71585;
    white-space: pre;
}

.herramientas {
    background-color: #006400;
    white-space: pre;
}

.opensource {
    background-color: #32CD32;
    white-space: pre;
}

td:first-child {
    padding-right: 1em;
}

blockquote {
    font-size: 14px;
    filter: brightness(150%);
}

.asic {
    height: 1em;
}

h4, ul {
    text-align: left;
}
